{% extends 'layout/base.html' %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class="alert alert-success text-center mt-3 text-center" style="width: 50%; margin: 16px auto;">{{ message }}</div>
{% endif %}
{% if category == 'error' %}
<div class="alert alert-danger text-center mt-3 text-center" style="width: 50%; margin: 16px auto;">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<div class="formRegister">
     <form class="formDangKy" method="post" enctype="multipart/form-data"
          action="/register">
        <div class="btn-iconClose">
            <i class='bx bx-message-square-x'></i>
        </div>
        <h1>Đăng ký</h1>
        <div class="form-floating mb-3 mt-3 control">
            <input type="text" class="form-control" required id="name"
                   placeholder="Nhập họ tên" name="name">
            <label for="avatar">Nhập họ tên</label>
            <span></span>
        </div>
        <div class="form-floating mb-3 mt-3 control">
            <input type="text" class="form-control" required id="username"
                   placeholder="Tên đăng nhập" name="username">
            <label for="avatar">Tên đăng nhập</label>
            <span></span>
        </div>
        <div class="form-floating mb-3 mt-3 control">
            <input type="text" class="form-control" required id="number"
                   placeholder="Số điện thoại" name="number">
            <label for="avatar">Số điện thoại</label>
            <span></span>
        </div>
         <div class="form-floating mb-3 mt-3 control">
            <input type="text" class="form-control" required id="CCCD"
                   placeholder="CCCD" name="CCCD">
            <label for="avatar">CCCD</label>
            <span></span>
        </div>
         <div class="form-floating mb-3 mt-3 control">
            <input type="text" class="form-control" required id="address"
                   placeholder="address" name="address">
            <label for="avatar">Địa chỉ</label>
            <span></span>
        </div>
        <div class="form-floating mt-3 mb-3 control">
            <input type="password" class="form-control" required id="password"
                   placeholder="Nhập mật khẩu" name="password">
            <label for="avatar">Nhập mật khẩu</label>
            <span></span>
        </div>
        <div class="form-floating mt-3 mb-3 control">
            <input type="password" class="form-control" required id="confirm"
                   placeholder="Nhập xác nhận mật khẩu" name="confirm">
            <label for="avatar">Nhập xác nhận mật khẩu</label>
            <span></span>
        </div>

            <label for="avatar">Ảnh đại diện</label>
            <input type="file" class="form-control" id="avatar" name="avatar">

        <div class="form-floating mt-3 mb-3 btn-XacNhan">
            <input type="submit" value="Đăng ký" class="btn btn-danger"/>
        </div>
    </form>
</div>

{% endblock %}
