{% extends 'layout/base.html' %}
{% block content %}
<form action="/employee/search" method="post">
    <div class="form-TraCuu">
        <div  >
            <span>Tra cứu theo</span>
            <select id="select" name="luaChon">
                <option selected value="ten">Tên</option>
                <option value="sdt">SĐT</option>
                <option value="cccd">Số CCCD</option>
            </select>
        </div>
        <span>Nhập thông tin</span>
        <input type="text" id="text" name="thongTin">
        <div class="btn-TraCuu">
            <button type="submit" class="btn btn-primary btn1">Tra cứu</button>
        </div>
    </div>
</form>


<div class="table_search-customer" id="table1">
    <table class="table table-bordered table-sm table1_1">

        <thead>
        <tr>
            <th>Tên khách hàng</th>
            <th>Ngày nhận phòng</th>
            <th>Ngày trả phòng</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for t in khachhang %}
        <tr>
            <td id="{{t[0]}}">{{ t[1] }}</td>
            <td>{{ t[2] }}</td>
            <td>{{ t[3] }}</td>

            <td id="xemCacPhong">
                <form>
                    <a href="/employee/lapphieuthuephong/{{ t[4] }}" class="btn btn-primary">Lập phiếu thuê</a>
                </form>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="tb2">
    <table class="table table-bordered table2" id="table_PhieuDatPhong">

    </table>
    <button type="button" class="btn btn-primary btn_phieu">Lập phiếu</button>
</div>
</div>
<script src="{{ url_for('static', filename='js/addCustomerOfEmployee.js') }}"></script>
{% endblock %}